.navbar-brand{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
.btn-light{
    background-color: #ffffff;
    color: #000000;
}
.cambio{
    margin-top: 100px;
}
.card{
    margin: 25px auto;
    width: 700px;
}

.comentario{
    color: #eedbdb;
    display: inline-block;
    width: 90%;
}
.btn-link{
    float: right;
    color: gray;
    padding-right: 1px;
}
.container {
    display: flex;
    justify-content: space-between;
}

